.card {
    position: relative;
    width: 28vw;
    height: 28vw;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .front {
    transform: perspective(500px) rotateY(0deg);
}

.card .back {
    transform: perspective(500px) rotateY(180deg);
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(500px) rotateY(360deg);
}